language: python
python:
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
  - "nightly"
# command to install dependencies
# not needed: the Makefile already does that
# install: "pip install -r requirements.txt"
# command to run tests
script: make check
