Source: pac4cli
Section: web
Priority: optional
Maintainer: Timo Kluck <tkluck@infty.nl>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://github.com/tkluck/pac4cli
Vcs-Git: https://github.com/tkluck/pac4cli.git

Package: pac4cli
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3, python3-pacparser, python3-twisted, python3-openssl, python3-service-identity, python3-txdbus, python3-systemd-cython
Description: Proxy-auto-discovery for command line applications
 On many corporate networks, applications need proxy-auto-discovery to know
 whether a certain URL is accessed either directly or through a web proxy.
 Browsers can typically handle this, but many command line applications (git,
 npm, apt, curl) rely on environment variable to hard-code a proxy regardless
 of the destination URL.
 .
 This little daemon enables these applications for auto-discovery by:
 .
 - setting the `http_proxy` variable (and friends) to http://localhost:3128
 - providing a simple proxy at that port that does proxy-auto-discovery and
   connects accordingly.
