<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>
	<key>Label</key>
	<string>nl.infty.pac4cli</string>
	<key>Program</key>
	<string>/usr/local/libexec/pac4cli</string>
	<key>ProgramArguments</key>
	<array>
		<string>-p</string>
		<string>3128</string>
	</array>
	<key>KeepAlive</key>
	<true/>
	<key>Listeners</key>
	<dict>
		<key>SockServiceName</key>
		<string>3128</string>
		<key>SockType</key>
		<string>stream</string>
		<key>SockFamily</key>
		<string>IPv4</string>
	</dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>http_proxy</key>
		<string>localhost:3128</string>
		<key>https_proxy</key>
		<string>localhost:3128</string>
		<key>HTTP_PROXY</key>
		<string>localhost:3128</string>
		<key>HTTPS_PROXY</key>
		<string>localhost:3128</string>
		<key>_JAVA_OPTIONS</key>
		<string>-Dhttp.proxyHost=localhost -Dhttp.proxyPort=3128 -Dhttps.proxyHost=localhost -Dhttps.proxyPort=3128</string>
	</dict>
</dict>
</plist>
